/* GOOGLE FONT  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans&display=swap');

/* CSS VARIABLES */
:root {
    --PrimaryFontFamily: 'Open Sans', sans-serif;
    --SecondaryFontFamily: 'Montserrat', sans-serif;
    --FontRegular: 400;
    --FontMedium: 500;
    --FontBold: 700;
    --PrimaryColor: #f97794;
    --HeadingColor: #263238;
    --TextColor: #546e7a;
    --WhiteColor: #fff;
    --GrayColor: #f9f9f9;
    --GrayColorAlt: #f5f5f5;
    --MainTransition: all 0.3s ease;
    --MainShadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    --SecondaryShadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    --MianOverlay: rgba(0, 0, 0, 0.6);
    --SecondaryOverlay: rgba(231, 77, 60, 0.4)
}

/* GENERAL RULES */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1rem;
    font-family: var(--PrimaryFontFamily);
    color: var(--TextColor);
    font-weight: normal;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--SecondaryFontFamily);
    color: var(--HeadingColor);
    line-height: 1.3;
}


h1 {
    font-size: 4.8rem;
    font-weight: var(--FontBold);
}

h2 {
    font-size: 3.8rem;
    font-weight: var(--FontMedium);
}

h3 {
    font-size: 3rem;
    font-weight: var(--FontRegular);
}

h4 {
    font-size: 2.25rem;
    font-weight: var(--FontRegular);
}

p {
    font-size: 1.6rem;
    color: inherit;
    line-height: 1.8;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

/* START HELPER CLASSES */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
        margin: 0 auto;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn {
    font-size: 1.6rem;
    font-family: var(--PrimaryFontFamily);
    padding: 1.2rem 3rem;
    text-transform: uppercase;
    outline: none;
    border-radius: 30px;
    font-weight: var(--FontMedium);
    color: var(--WhiteColor);
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid transparent;
    transition: var(--MainTransition);
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: var(--MainTransition);
}

.btn-transparent {
    border-color: var(--WhiteColor);
}

.btn-transparent:hover {
    background-color: var(--PrimaryColor);
}

.btn-colored {
    background: var(--PrimaryColor);
    border-color: var(--PrimaryColor);
}

.btn-colored:hover::before {
    width: 100%;
}

.btn-white {
    background-color: var(--WhiteColor);
    color: var(--PrimaryColor);
    border-color: var(--PrimaryColor);
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section {
    padding: 120px 0;
}

.section-header {
    text-align: center;
    margin: 0 auto 4rem auto;
    position: relative;
}

.section-heading {
    font-size: 4rem;
    font-weight: var(--FontBold);
    text-transform: uppercase;
    position: relative;
}

.section-heading::before {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 80px;
    height: 4px;
    background-color: var(--PrimaryColor);
}

.title-mirror {
    font-size: 6rem;
    color: rgba(0, 0, 0, .07);
    letter-spacing: .5rem;
    font-weight: var(--FontBold);
    position: absolute;
    display: block;
    width: 100%;
    top: 12px;
}

.desc {
    margin-top: 1.5rem;
    font-size: 1.4rem;
}


.gray-bg {
    background-color: var(--GrayColor);
}

.input,
.textarea {
    width: 100%;
    outline: none;
    margin-bottom: 1.5rem;
    padding: 2rem;
    border-radius: 50px;
    background-color: var(--GrayColorAlt);
    font-size: 1.6rem;
    font-family: var(--PrimaryFontFamily);
    border: none;
}

input[type="submit"] {
    cursor: pointer;
}

.soical-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: var(--WhiteColor);
    border-radius: 50%;
    margin-right: 1.2rem;
    color: var(--PrimaryColor);
    transition: var(--MainTransition);
    box-shadow: var(--MainShadow);
    text-align: center;
}

.soical-icon:last-child {
    margin-right: 0;
}

.soical-icon:hover {
    transform: translateY(2px);
}

.soical-icon:hover:first-of-type {
    background-color: #3b5999;
    color: var(--WhiteColor);
}

.soical-icon:hover:nth-child(2) {
    background-color: #55acee;
    color: var(--WhiteColor);
}

.soical-icon:hover:nth-child(3) {
    background-color: #e4405f;
    color: var(--WhiteColor);
}

.soical-icon:hover:nth-child(4) {
    background-color: #0077B5;
    color: var(--WhiteColor);
}

.soical-icon:hover:first-of-type {
    background-color: #3b5999;
    color: var(--WhiteColor);
}

.soical-icon:hover:first-of-type {
    background-color: #3b5999;
    color: var(--WhiteColor);
}

.soical-icon i {
    vertical-align: middle;
}



/* END HELPER CLASSES */



/* START HEADER STYLES */


.header {
    background: url(../img/hero/hero-area.jpg) no-repeat top left;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.header.overlay::before {
    background-color: var(--MianOverlay);
}

.header-nav {
    height: 120px;
}

.header-logo .logo {
    font-size: 2rem;
    color: var(--PrimaryColor);
    text-transform: uppercase;
}

.list-item {
    margin-right: 2rem;
}

.list-item:last-child {
    margin-right: 0;
}

.list-item .active {
    color: var(--PrimaryColor);
}

.navbar-toggler {
    width: 40px;
    cursor: pointer;
    display: none;
}

.navbar-toggler .bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--WhiteColor);
    border-radius: 2px;
    margin-bottom: 0.5rem;
}

.navbar-toggler .bar:last-child {
    margin-bottom: 0;
}

.navbar-toggler .bar-top,
.navbar-toggler .bar-bottom {
    width: 20px;
}

.navbar-toggler .bar-bottom {
    margin-left: auto;
}


.nav-link {
    font-size: 1.4rem;
    font-family: var(--PrimaryFontFamily);
    font-weight: var(--FontRegular);
    color: var(--WhiteColor);
    padding: 0.5rem 0;
    position: relative;
    transition: var(--MainTransition);
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background-color: var(--PrimaryColor);
    display: none;
}


.list-item .active::before {
    display: block;
}

.header-text {
    width: 70%;
    height: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 120px 0;
}

.header-title {
    margin-bottom: 4rem;
    color: var(--WhiteColor);
}

.header-desc {
    color: var(--WhiteColor);
    margin-bottom: 4rem;
}

.header-btn .btn:first-child {
    margin-right: 2rem;
}

.header-cta {
    text-align: center;
    color: var(--WhiteColor);
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.header-cta a {
    display: inline-block;
    width: 45px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid var(--WhiteColor);
    line-height: 60px;
    font-size: 2rem;
}

.header-cta .h-cta {
    animation: upDown 2s infinite ease-in-out;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
        opacity: 0.4
    }

    50% {
        transform: translateY(0.4em);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0.4em);
        opacity: 0.1;
    }
}

/* END HEADER STYLES */

/* START SERVICES STYLES */
.services-wrapper {
    flex-wrap: wrap;
}

.service-item {
    padding: 4rem 3rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    flex: 0 0 calc(100% / 3 - 2rem);
    margin-bottom: 3rem;
    transition: var(--MainTransition);
    cursor: pointer;
}

.service-item:hover {
    box-shadow: var(--SecondaryShadow);
    transform: scale(1.01);
}


.service-item .icon {
    color: var(--PrimaryColor);
    margin-bottom: 2rem;

}

/* END SERVICES STYLES */

/* START ABOUT STYLES */
.about .about-items {
    flex: 0 0 40%;
    margin-right: 3rem;
}

.about .item {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem;
    transition: var(--MainTransition);
    cursor: pointer;
}

.about .item .icon {
    margin-right: 3rem;
    color: var(--PrimaryColor);
}

.about .about-graph {
    flex: 0 0 calc(60% - 3rem);
}

/* END ABOUT STYLES */

/* START PROMO STYLES */
.promo {
    background: url(../img/vedio/video.jpg) no-repeat top left;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding: 120px 0;
}

.promo .section-heading,
.promo .desc {
    color: var(--WhiteColor);
}

.promo .icon {
    color: var(--WhiteColor);
    text-align: center;
    margin-bottom: 3rem;
}

.promo .icon .promo-vedio {
    width: 80px;
    height: 80px;
    border: 2px solid var(--WhiteColor);
    display: inline-block;
    line-height: 80px;
    border-radius: 50px;
}

.promo .icon .promo-vedio i {
    vertical-align: middle;
}

.promo .section-heading::before {
    display: none;
}

.promo.overlay::before {
    background-color: var(--SecondaryOverlay);
}

/* END PROMO STYLES */

/* STRAT PORTFOLIO STYELS */

.portfolio .portfolio-control {
    margin-bottom: 3rem;
}

.portfolio .control-list.flex {
    justify-content: center;
}

.portfolio .portfolio-content {
    flex-wrap: wrap;
}

.portfolio .portfolio-item {
    flex: 0 0 calc(100% / 3 - 2rem);
    margin-bottom: 3rem;
    position: relative;
}

.portfolio .portfolio-item:hover .zooming {
    transform: scale(1);
}

.portfolio-item .zooming {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: var(--MainTransition);
}

.portfolio-item .zooming .icon {
    width: 100%;
    text-align: center;
    color: var(--WhiteColor);
    font-size: 1.6rem;
}

/* END PORTFOLIO STYELS */

/* START PRICING STYLES */
.pricing .pricing-table {
    border: 1px solid rgba(0, 0, 0, 0.05);
    flex: 0 0 calc(100% / 3 - 2rem);
    margin-bottom: 3rem;
    transition: var(--MainTransition);
    text-align: center;
    box-shadow: var(--MainShadow);
}

.pricing .pricing-table:hover {
    box-shadow: var(--SecondaryShadow);
}

.pricing-table .table-head {
    padding: 3rem 0;
}

.pricing-table .table-head p {
    color: var(--HeadingColor);
    font-weight: var(--FontRegular);
    margin-top: 2rem;
    font-size: 3rem;
}

.pricing-table .table-head p span {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.pricing-table .list-item {
    font-size: 1.6rem;
    padding: 2rem 0;
    margin-right: 0;
}

.pricing-table .list-item:nth-child(odd) {
    background-color: var(--GrayColor);
}

.pricing-table .plan-cta {
    padding: 3rem 0;
}

.pricing-table .plan-list {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing .pricing-popular {
    padding: 3rem 0;
    flex: 0 0 33%;
}

/* END PRICING STYLES */

/* START COUNTER STYLES */
.counter {
    background-color: var(--PrimaryColor);
}

.counter-item {
    padding: 5rem;
    border: 1px solid var(--WhiteColor);
    flex: 0 0 calc(100% / 4 - 2rem);
    text-align: center;
    color: var(--WhiteColor);
    border-radius: 10px;
    margin-bottom: 3rem;
}

.counter-item .icon {
    margin-bottom: 1.3rem;
}

.counter-item .icon i {
    font-size: 5rem;
}

.counter-item .counter-value {
    font-size: 4rem;
}

.counter-item .counter-name {
    font-weight: var(--FontBold);
}

/* END COUNTER STYLES */

/* START TESTI STYLES */
.testi .testi-items {
    overflow: hidden;
}

.testi-items.flex {
    align-items: normal;
}

.testi .testi-single {
    flex: 0 0 calc(100% / 2 - 2rem);
    background-color: var(--WhiteColor);
    box-shadow: var(--MainShadow);
    padding: 3rem;
}

.testi .testi-info {
    margin-bottom: 3rem;
}

.testi .testi-info.flex {
    justify-content: start;
}

.testi .testi-img {
    text-align: center;
    margin-right: 2rem;
}

.testi .testi-img img {
    width: 90%;
    border-radius: 50%;
    vertical-align: middle;
}

.testi .testi-body p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.testi .testi-body .icon {
    font-size: 2rem;
}

.testi .testi-body .icon i {
    color: var(--PrimaryColor);

}

/* END TESTI STYLES */

/* START CTA STYLES */
.cta {
    background: url(../img/cta/bg-cta.jpg) no-repeat top left;
    background-size: cover;
    background-attachment: fixed;
}

.cta .cta-info h4 {
    color: var(--WhiteColor);
    font-size: 4rem;
    font-weight: var(--FontBold);
}

.cta .cta-info h4 span {
    color: var(--PrimaryColor);
}

/* START CTA STYLES */

/* START TEAM STYLES */
.team .team-body {
    padding: 2rem 0;
}

.team .team-name {
    margin-bottom: 0.5rem;
}

.team .social-icons {
    margin-top: 2rem;
}


.team .card {
    padding: 2rem 0;
    box-shadow: var(--MainShadow);
    flex: 0 0 calc(100% / 4 - 2rem);
    margin-bottom: 3rem;
    text-align: center;
    background-color: var(--GrayColor);
    transition: var(--MainTransition);
}

.team .card:hover {
    box-shadow: var(--SecondaryShadow);
    transform: translateY(-10px);
}

/* END TEAM STYLES */

/* START SUBSCRIBE STYLES */
.subscribe {
    background: url(../img/subscribe/bg-subs.jpg) no-repeat top left;
    background-size: cover;
    background-attachment: fixed;
}

.subscribe .subscribe-form {
    background-color: var(--WhiteColor);
    text-align: center;
    padding: 3rem 2rem;
    flex: 0 0 40%;
    align-self: stretch;
    margin-bottom: 3rem;
}

.subscribe .input-group {
    margin-top: 3rem;
}

.subscribe .input-group.flex {
    flex-direction: column;
}



.subscribe .input-group input[type="submit"] {
    margin-top: 3rem;
    width: 100%;
}

.subscribe .subscribe-items {
    flex: 0 0 50%;
    flex-direction: column;
    align-self: stretch;
}

.subscribe .subscribe-single {
    background-color: var(--WhiteColor);
    padding: 2rem;
    margin-bottom: 3rem;
}

.subscribe .subscribe-single:last-child {
    margin-bottom: 0;
}

.subscribe .subscribe-single.flex {
    align-items: start;
}

.subscribe .subscribe-single .icon {
    margin-right: 2rem;
    color: var(--PrimaryColor);
}

/* END SUBSCRIBE STYLES */

/* START BLOG STYLES */
.blog .blog-item {
    box-shadow: var(--MainShadow);
    flex: 0 0 calc(100% / 3 - 2rem);
    align-self: stretch;
    margin-bottom: 3rem;
}

.blog-item .blog-body {
    padding: 3rem;
}

.blog-item .blog-date {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.blog-item .title {
    margin-bottom: 2rem;
}

/* END BLOG STYLES */

/* START CLIENTS STYLES */
.clients-items {
    overflow: hidden;
}

.client-item {
    opacity: 0.4;
    cursor: pointer;
    transition: var(--MainTransition);
}

.client-item:hover {
    opacity: 1;
}

/* END CLIENTS STYLES */

/* START CONTACT STYLES */
.contact .contact-form {
    flex: 0 0 70%;
    margin-right: 0;
}

.contact .input[id="name"] {
    margin-right: 2rem;
}

.contact .input-group {
    margin-bottom: 3rem;
}

.contact .textarea {
    resize: none;
    border-radius: 0;
}

.contact-info {
    align-self: start;
    padding: 2rem;
}

.contact-info .c-info {
    margin-bottom: 2rem;
}

.contact-info .c-info .icon {
    margin-bottom: 1rem;
    color: var(--PrimaryColor);
}

/* END CONTACT STYLES */

/* START FOOTER STYLES */
.footer {
    position: relative;
}

.footer-content.flex {
    align-items: flex-start;
}

.footer .footer-item {
    flex: 0 0 calc(100% / 4 - 2rem);
    padding: 2rem 0;
}

.footer .footer-item h4 {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: var(--FontMedium);
    text-transform: uppercase;
}

.footer .logo-large {
    font-size: 4rem;
    font-weight: var(--FontBold);
    margin-bottom: 1.5rem;
    margin-top: -1.5rem;
}

.footer .footer-item p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.footer-list .list-item {
    margin-right: 0;
    margin-bottom: 1rem;
}

.footer-link {
    color: var(--TextColor);
}

.footer-contact.flex {
    flex-wrap: wrap;
}

.footer-item .insta-img {
    flex: 0 0 calc(100% / 3 - .5rem);
    margin-bottom: .5rem;
}

.copyright {
    padding: 3rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.copyright .nav-link:hover {
    color: var(--PrimaryColor);
}

.back-top {
    position: absolute;
    bottom: 6rem;
    right: 5rem;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    color: var(--PrimaryColor);
    text-align: center;
    line-height: 5rem;
    box-shadow: var(--SecondaryShadow);
    transition: var(--MainTransition);
    transform: translateY(-3px);
    z-index: 100;
}

.back-top:hover {
    box-shadow: var(--MainShadow);

}

.back-top i {
    font-size: 3rem;
    vertical-align: middle;
}

/* END FOOTER STYLES */

/* START MEDIA QUERIES */
/*
Extra small devices (portrait phones, less than 576px) No media query since this is the default in Bootstrap because it is "mobile first"
*/

@media (max-width: 335px) {

    .soical-icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .list-item {
        margin-right: 0.8rem;
    }

    /* HEADER */
    .header-btn {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .header-btn .btn {
        width: 180px;
    }

    .header-btn .btn:first-child {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    /* FOOTER */
    .back-top {
        right: 2rem;
    }
}

@media (max-width: 575px) {
    .btn {
        padding: 0.8rem 3rem;
        font-size: 1.2rem;
        border-radius: 10px;
    }

    .section-heading {
        font-size: 2.25rem;
    }

    .title-mirror {
        top: -15px;
    }

    /* HEADER */
    .header {
        padding-bottom: 120px;
    }

    .main-nav {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .header-text {
        width: 100%;
    }

    .header-title {
        font-size: 3.6rem;
    }

    .header-desc {
        font-size: 1.4rem;
    }

    /* SERVICES */
    .service-item {
        flex: 0 0 100%;
    }

    /* ABOUT */
    .about-content.flex {
        flex-wrap: wrap;
    }

    .about .about-items,
    .about .about-graph {
        flex: 0 0 100%;
    }

    /* WORKS */
    .portfolio .control-list.flex {
        flex-wrap: wrap;
    }

    .portfolio .portfolio-item {
        flex: 0 0 100%;
    }


    /* PRICING */

    .pricing-tables.flex {
        flex-wrap: wrap;
    }

    .pricing .pricing-table {
        flex: 0 0 100%;
    }

    /* COUNTER */

    .counter-content.flex {
        flex-wrap: wrap;
    }

    .counter-item {
        flex: 0 0 100%;
    }

    .testi .testi-single {
        flex: 0 0 100%;
    }

    /* CTA */
    .container.flex {
        flex-direction: column;
    }

    .cta .cta-info {
        margin-bottom: 3rem;
    }

    .cta .cta-info h4 {
        font-size: 3rem;
    }

    /* TEAM */
    .team-cards.flex {
        flex-direction: column;
    }

    .team .card {
        width: 80%;
    }

    /* SUBSCRIBE */
    .subscribe-content.flex {
        flex-direction: column;
    }

    /* BLOG */
    .blog-content.flex {
        flex-direction: column;
    }

    /* CLIENTS */
    .client-item {
        flex: 0 0 calc(100% / 2);
    }

    /* CONTACT */
    .contact-content.flex {
        flex-direction: column;
    }


    /* FOOTER */
    .footer-content.flex {
        flex-wrap: wrap;
    }

    .footer .footer-item {
        flex: 0 0 100%;

    }

    .copyright.flex {
        flex-direction: column;
    }

    .copyright .copy {
        margin-bottom: 2rem;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .btn {
        padding: 0.8rem 3rem;
        font-size: 1.2rem;
        border-radius: 10px;
    }

    .section-heading {
        font-size: 2.25rem;
    }

    .title-mirror {
        top: -15px;
    }

    /* HEADER */
    .header {
        padding-bottom: 120px;
    }

    .main-nav {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .header-text {
        width: 100%;
    }

    .header-title {
        font-size: 3.6rem;
    }

    .header-desc {
        font-size: 1.4rem;
    }

    /* SERVICES */
    .service-item {
        flex: 0 0 100%;
    }

    /* ABOUT */
    .about-content.flex {
        flex-wrap: wrap;
    }

    .about .about-items,
    .about .about-graph {
        flex: 0 0 100%;
    }

    /* WORKS */
    .portfolio .portfolio-item {
        flex: 0 0 100%;
    }

    /* PRICING */

    .pricing-tables.flex {
        flex-wrap: wrap;
    }

    .pricing .pricing-table {
        flex: 0 0 100%;
    }

    /* COUNTER */

    .counter-content.flex {
        flex-wrap: wrap;
    }

    .counter-item {
        flex: 0 0 calc(100% / 2 - 2rem);
    }

    .testi .testi-single {
        flex: 0 0 100%;
    }

    /* CTA */
    .container.flex {
        flex-direction: column;
    }

    .cta .cta-info {
        margin-bottom: 3rem;
    }

    .cta .cta-info h4 {
        font-size: 3rem;
    }

    /* TEAM */
    .team-cards.flex {
        flex-direction: column;
    }

    .team .card {
        width: 80%;
    }

    /* SUBSCRIBE */
    .subscribe-content.flex {
        flex-direction: column;
    }

    /* BLOG */
    .blog-content.flex {
        flex-direction: column;
    }

    /* CLIENTS */
    .client-item {
        flex: 0 0 calc(100% / 2);
    }

    /* CONTACT */
    .contact-content.flex {
        flex-direction: column;
    }


    /* FOOTER */
    .footer-content.flex {
        flex-wrap: wrap;
    }

    .footer .footer-item {
        flex: 0 0 calc(100% / 2 - 1rem);

    }

    .copyright.flex {
        flex-direction: column;
    }

    .copyright .copy {
        margin-bottom: 2rem;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .btn {
        padding: 1.2rem 4rem;
        font-size: 1.4rem;
        border-radius: 10px;
    }

    .section-heading {
        font-size: 2.8rem;
    }

    /* HEADER */
    .header-title {
        font-size: 4.2rem;
    }

    /* SERVICES */
    .service-item {
        flex: 0 0 calc(100% / 2 - 1.5rem)
    }

    /* WORKS */
    .portfolio .portfolio-item {
        flex: 0 0 calc(100% / 2 - 1.5rem);
    }

    /* PRICING */
    .pricing .pricing-table {
        flex: 0 0 calc(100% / 2 - 1.5rem);
    }

    .pricing .pricing-popular {
        padding: 0;
    }

    /* TESTI */
    .testi .testi-single {
        flex: 0 0 calc(100% / 2 - 2rem);
        margin-right: 3rem;
        padding: 1.5rem;
    }

    .testi .testi-name {
        font-size: 1.8rem;
        font-weight: var(--FontBold);
    }

    /* CTA */
    .container.flex {
        flex-direction: row;
    }

    /* TEAM */
    .team-cards.flex {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team .card {
        flex: 0 0 calc(100% / 2 - 1.5rem);
    }

    /* BLOGS */
    .blog-content.flex {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .blog .blog-item {
        flex: 0 0 calc(100% / 2 - 1.5rem);
    }

    /* CLIENTS */
    .client-item {
        flex: 0 0 calc(100% / 3);
    }

    /* CONTACT */
    .contact-content.flex {
        flex-direction: row;
    }

    .contact .contact-form {
        flex: 0 0 60%;
    }

    .contact .contact-info {
        padding: 1.2rem;
    }

    /* FOOTER */
    .copyright.flex {
        flex-direction: row;
    }

    .copyright .copy {
        margin-bottom: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .soical-icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    /* HEADER */
    .main-nav {
        display: block;
    }

    .navbar-toggler {
        display: none;
    }

    .header-text {
        width: 80%;
    }

    /* SERVICES */
    .service-item {
        flex: 0 0 calc(100% / 3 - 1.5rem)
    }

    /* ABOUT */
    .about .about-items {
        flex: 0 0 40%;
        margin-right: 0;
    }

    .about .about-graph {
        flex: 0 0 58%;
    }

    /* WORKS */
    .portfolio .portfolio-item {
        flex: 0 0 calc(100% / 3 - 1.5rem);
    }

    /* COUNTER */
    .counter-item {
        flex: 0 0 calc(100% / 4 - 1.5rem);
        padding: 2.5rem;
    }

    /* PRICING */
    .pricing .pricing-table {
        flex: 0 0 calc(100% / 3 - 1.5rem);
    }

    .pricing .pricing-popular {
        padding: 2rem 0;
    }

    /* TEAM */
    .team .card {
        flex: 0 0 calc(100% / 4 - 1.5rem);
    }

    /* SUBSCRIBE */
    .subscribe-content.flex {
        flex-direction: row;
    }

    .subscribe .subscribe-form {
        flex: 0 0 40%;
    }

    .subscribe .subscribe-items {
        flex: 0 0 55%;
    }

    /* BLOGS */
    .blog .blog-item {
        flex: 0 0 calc(100% / 3 - 1.5rem);
    }

    /* CLIENTS */
    .client-item {
        flex: 0 0 calc(100% / 4);
    }

    /* FOOTER */
    .footer .footer-item {
        flex: 0 0 calc(100% / 4 - 1rem);
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* CLIENTS */
    .client-item {
        flex: 0 0 calc(100% / 5);
    }
}